<footer class="page-footer">
  <div class="container">
    <div class="footer-thumb footer-thumb--indent">
      <div class="footer-box">
        <a class="footer-logo" href="#">
          <svg class="footer-logo__icon" width="32" height="32">
            <use href="./images/icons.svg#icon-Vector"></use>
          </svg>
          <span class="footer-logo__text footer-logo__text--indent"
            >cucina</span
          >
        </a>

        <ul class="nav-page-list">
          <li class="nav-page-list__item">
            <a class="nav-page-list__link" href="#home">Home</a>
          </li>
          <li class="nav-page-list__item">
            <a class="nav-page-list__link" href="#store">Store</a>
          </li>
          <li class="nav-page-list__item">
            <a class="nav-page-list__link" href="#recipes">Recipes</a>
          </li>
          <li class="nav-page-list__item">
            <a class="nav-page-list__link" href="#gallery">Gallery</a>
          </li>
        </ul>

        <address class="address">
          <ul class="address__list">
            <li class="address__item address__item--indent">
              <a
                class="address__link"
                href="https://goo.gl/maps/4JAsYM6Ejo46GZXw7"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="address__icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <span class="address__text">Elvia Elviaveien 1, 1234 Oslo</span>
              </a>
            </li>
            <li class="address__item address__item--indent">
              <a
                class="address__link"
                href="mailto:willie.jennings@example.com"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="address__icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-email"></use>
                </svg>
                <span class="address__text"
                  >willie.jennings@example.com</span
                ></a
              >
            </li>
          </ul>
        </address>
      </div>
      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="">
            <svg class="social__icon" width="16" height="16">
              <use
                href="./images/icons.svg#icon-simple-line-icons_social-youtubeyoutobe"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="page-footer__user-rule">
      By using this website, you agree to the
      <span class="page-footer__user-link">Terms of Service</span> and
      <span class="page-footer__user-link">Privacy Policy</span>
    </p>
  </div>
</footer>
