<section class="section-gallery">
    <h2 class="visually-hidden">Gallery</h2>

    <div class="container slideshow-container">
        <svg class="prev" onclick="plusSlides(-1)">
            <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
        <div class="gallery-container">
            <div class="mySlides fade">

                <picture>
                    <source
                        srcset="./images/tomato-desk/tomato1-desk@1x.jpg 1x, ./images/tomato-desk/tomato1-desk@2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpg" />
                    <source
                        srcset="./images/tomato-tab/tomato1-tab@1x.jpg 1x, ./images/tomato-tab/tomato1-tab@2x.jpg 2x"
                        media="(min-width:1020px)" type="image/jpg" />

                    <img srcset="./images/tomato-mob/tomato1-mob@1x.jpg 1x, ./images/tomato-mob/tomato1-mob@2x.jpg 2x"
                        src="./images/tomato-desk/tomato1-desk@1x.jpg" alt="помідори1">
                </picture>
            </div>
            <div class="mySlides fade">
                <picture>
                    <source
                        srcset="./images/tomato-desk/tomato2-desk@1x.jpg 1x, ./images/tomato-desk/tomato2-desk@2x.jpg 2x"
                        media="(min-width:415px)" type="image/jpg" />
                    <source
                        srcset="./images/tomato-tab/tomato2-tab@1x.jpg 1x, ./images/tomato-tab/tomato2-tab@2x.jpg 2x"
                        media="(min-width:1020px)" type="image/jpg" />
                    <img srcset="./images/tomato-mob/tomato2-mob@1x.jpg 1x, ./images/tomato-mob/tomato2-mob@2x.jpg 2x"
                        src="./images/tomato-desk/tomato2-desk@1x.jpg" alt="помідори2">
                </picture>
            </div>
            <div class="mySlides fade">
                <picture>
                    <source
                        srcset="./images/tomato-desk/tomato3-desk@1x.jpg 1x, ./images/tomato-desk/tomato3-desk@2x.jpg 2x"
                        media="(min-width:415px)" type="image/jpg" />
                    <source
                        srcset="./images/tomato-tab/tomato3-tab@1x.jpg 1x, ./images/tomato-tab/tomato3-tab@2x.jpg 2x"
                        media="(min-width:1020px)" type="image/jpg" />
                    <img srcset="./images/tomato-mob/tomato3-mob@1x.jpg 1x, ./images/tomato-mob/tomato3-mob@2x.jpg 2x"
                        src="./images/tomato-desk/tomato3-desk@1x.jpg" alt="помідори3">
                </picture>
            </div>
        </div>
        <svg class="next" onclick="plusSlides(1)">
            <use href="./images/icons.svg#icon-rrow-right"></use>
        </svg>


        <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
    </div>
    <ul class="ellipse">
        <li class="dot" onclick="currentSlide(1)">
            <svg class="ellipse___icon">
                <use href="./images/icons.svg#icon-ellipse"></use>
            </svg>
        </li>
        <li class="dot" onclick="currentSlide(2)">
            <svg class="ellipse___icon">
                <use href="./images/icons.svg#icon-ellipse"></use>
            </svg>
        </li>
        <li class="dot" onclick="currentSlide(3)">
            <svg class="ellipse___icon">
                <use href="./images/icons.svg#icon-ellipse"></use>
            </svg>
        </li>
        <li class="dot" onclick="currentSlide(1)">
            <svg class="ellipse___icon">
                <use href="./images/icons.svg#icon-ellipse"></use>
            </svg>
        </li>
        <li class="dot" onclick="currentSlide(2)">
            <svg class="ellipse___icon">
                <use href="./images/icons.svg#icon-ellipse"></use>
            </svg>
        </li>
        <li class="dot" onclick="currentSlide(3)">
            <svg class="ellipse___icon">
                <use href="./images/icons.svg#icon-ellipse"></use>
            </svg>
        </li>
    </ul>
    <!-- <br> -->
    <!-- <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div> -->
</section>



<!-- <picture>
                <source srcset="./images/tomato-mob/tomato1-mob@1x.jpg 1x, ./images/tomato-mob/tomato1-mob@2x.jpg 2x" media="(min-width:415px)"
                    type="image/jpg" />
                <source srcset="./images/tomato-tab/tomato1-tab@1x.jpg 1x, ./images/tomato-tab/tomato1-tab@2x.jpg 2x" media="(min-width:1020px)"
                    type="image/jpg" /> -->


<!-- <picture>
                                    <source srcset="./images/tomato-mob/tomato2-mob@1x.jpg 1x, ./images/tomato-mob/tomato2-mob@2x.jpg 2x"
                                        media="(min-width:415px)" type="image/jpg" />
                                    <source srcset="./images/tomato-tab/tomato2-tab@1x.jpg 1x, ./images/tomato-tab/tomato2-tab@2x.jpg 2x"
                                        media="(min-width:1020px)" type="image/jpg" /> -->


<!-- <picture>
                                                        <source srcset="./images/tomato-mob/tomato3-mob@1x.jpg 1x, ./images/tomato-mob/tomato3-mob@2x.jpg 2x"
                                                            media="(min-width:415px)" type="image/jpg" />
                                                        <source srcset="./images/tomato-tab/tomato3-tab@1x.jpg 1x, ./images/tomato-tab/tomato3-tab@2x.jpg 2x"
                                                            media="(min-width:1020px)" type="image/jpg" /> -->