<div class="header" id="home">
  <!--Web Studio-->
  <div class="container">
    <nav class="main-nav">
      <ul class="main-nav__logo">
        <li class="main-nav__logo__item">
          <a href="./index.html" class="main-nav__logo__link">
            <svg class="main-nav__logo__link-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-Vector"></use>
            </svg>
            CUCINA</a
          >
        </li>
      </ul>
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a href="#home" class="main-nav__link">Home</a>
        </li>
        <li class="main-nav__item">
          <a href="#store" class="main-nav__link">Store</a>
        </li>
        <li class="main-nav__item">
          <a href="#recipes" class="main-nav__link">Recipes</a>
        </li>
        <li class="main-nav__item">
          <a href="#gallery" class="main-nav__link">Gallery</a>
        </li>
      </ul>
      <ul>
        <button type="button" class="header-contact__button" data-contact-open>
          Contact us
        </button>
      </ul>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="burger-btn__burger" width="31" height="16">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</div>
