<section class="our-products" id="store">
  <h2 class="our-products__title visually-hidden">Our products</h2>
  <div class="container container--padding our-products__slider">
    <div class="mySlides fade">
      <ul class="our-products__list">
        <li class="our-products__item">
          <picture>
            <source
              srcset="
                ./images/our-products/mobile/tomatoes@1x.jpg 1x,
                ./images/our-products/mobile/tomatoes@2x.jpg 2x
              "
              media="(max-width:1022px)"
            />
            <source
              srcset="
                ./images/our-products/tablet/tomatoes@1x.jpg 1x,
                ./images/our-products/tablet/tomatoes@2x.jpg 2x
              "
              media="(min-width:1023px)"
            />
            <source
              srcset="
                ./images/our-products/desctop/tomatoes@1x.jpg 1x,
                ./images/our-products/desctop/tomatoes@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="our-products__list-img"
              srcset="
                ./images/our-products/mobile/tomatoes@1x.jpg 1x,
                ./images/our-products/mobile/tomatoes@2x.jpg 2x
              "
              src="./images/our-products/mobile/tomatoes@1x.jpg"
              alt="tomatoes"
            />
          </picture>
          <div class="our-products__list-inner">
            <h3 class="our-products__list-title">Classic sauce</h3>
            <p class="our-products__content">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button
              class="our-products__list-btn"
              type="button"
              onclick="openModal()"
            >
              Buy now
            </button>
          </div>
        </li>
        <li class="our-products__item our-products__item--position">
          <div class="our-products__list-inner">
            <h3 class="our-products__list-title">Spicy sauce</h3>
            <p class="our-products__content">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button
              class="our-products__list-btn"
              type="button"
              onclick="openModal()"
            >
              Buy now
            </button>
          </div>
          <picture>
            <source
              srcset="
                ./images/our-products/mobile/pepper@1x.jpg 1x,
                ./images/our-products/mobile/pepper@2x.jpg 2x
              "
              media="(max-width:1022px)"
            />
            <source
              srcset="
                ./images/our-products/tablet/pepper@1x.jpg 1x,
                ./images/our-products/tablet/pepper@2x.jpg 2x
              "
              media="(min-width:1023px)"
            />
            <source
              srcset="
                ./images/our-products/desctop/pepper@1x.jpg 1x,
                ./images/our-products/desctop/pepper@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="our-products__list-img"
              srcset="
                ./images/our-products/mobile/pepper@1x.jpg 1x,
                ./images/our-products/mobile/pepper@2x.jpg 2x
              "
              src="./images/our-products/mobile/pepper@1x.jpg"
              alt="pepper"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="mySlides fade">
      <ul class="our-products__list">
        <li class="our-products__item">
          <picture>
            <source
              srcset="
                ./images/our-products/mobile/ketchup@1x.jpg 1x,
                ./images/our-products/mobile/ketchup@2x.jpg 2x
              "
              media="(max-width:1022px)"
            />
            <source
              srcset="
                ./images/our-products/tablet/ketchup@1x.jpg 1x,
                ./images/our-products/tablet/ketchup@2x.jpg 2x
              "
              media="(min-width:1023px)"
            />
            <source
              srcset="
                ./images/our-products/desctop/ketchup@1x.jpg 1x,
                ./images/our-products/desctop/ketchup@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="our-products__list-img"
              srcset="
                ./images/our-products/mobile/ketchup@1x.jpg 1x,
                ./images/our-products/mobile/ketchup@2x.jpg 2x
              "
              src="./images/our-products/mobile/ketchup@1x.jpg"
              alt="Ketchup in a white plate"
            />
          </picture>
          <div class="our-products__list-inner">
            <h3 class="our-products__list-title">Classic sauce</h3>
            <p class="our-products__content">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button
              class="our-products__list-btn"
              type="button"
              onclick="openModal()"
            >
              Buy now
            </button>
          </div>
        </li>
        <li class="our-products__item our-products__item--position">
          <div class="our-products__list-inner">
            <h3 class="our-products__list-title">Spicy sauce</h3>
            <p class="our-products__content">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button
              class="our-products__list-btn"
              type="button"
              onclick="openModal()"
            >
              Buy now
            </button>
          </div>
          <picture>
            <source
              srcset="
                ./images/our-products/mobile/chilli@1x.jpg 1x,
                ./images/our-products/mobile/chilli@2x.jpg 2x
              "
              media="(max-width:1022px)"
            />
            <source
              srcset="
                ./images/our-products/tablet/chilli@1x.jpg 1x,
                ./images/our-products/tablet/chilli@2x.jpg 2x
              "
              media="(min-width:1023px)"
            />
            <source
              srcset="
                ./images/our-products/desctop/chilli@1x.jpg 1x,
                ./images/our-products/desctop/chilli@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="our-products__list-img"
              srcset="
                ./images/our-products/mobile/chilli@1x.jpg 1x,
                ./images/our-products/mobile/chilli@2x.jpg 2x
              "
              src="./images/our-products/mobile/chilli@1x.jpg"
              alt="Spicy sauce in a white plate"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="mySlides fade">
      <ul class="our-products__list">
        <li class="our-products__item">
          <picture>
            <source
              srcset="
                ./images/our-products/mobile/ketchup-tomato@1x.jpg 1x,
                ./images/our-products/mobile/ketchup-tomato@2x.jpg 2x
              "
              media="(max-width:1022px)"
            />
            <source
              srcset="
                ./images/our-products/tablet/ketchup-tomato@1x.jpg 1x,
                ./images/our-products/tablet/ketchup-tomato@2x.jpg 2x
              "
              media="(min-width:1023px)"
            />
            <source
              srcset="
                ./images/our-products/desctop/ketchup-tomato@1x.jpg 1x,
                ./images/our-products/desctop/ketchup-tomato@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="our-products__list-img"
              srcset="
                ./images/our-products/mobile/ketchup-tomato@1x.jpg 1x,
                ./images/our-products/mobile/ketchup-tomato@2x.jpg 2x
              "
              src="./images/our-products/mobile/ketchup-tomato@1x.jpg"
              alt="Ketchup in a transparent plate"
            />
          </picture>
          <div class="our-products__list-inner">
            <h3 class="our-products__list-title">Classic sauce</h3>
            <p class="our-products__content">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button
              class="our-products__list-btn"
              type="button"
              onclick="openModal()"
            >
              Buy now
            </button>
          </div>
        </li>
        <li class="our-products__item our-products__item--position">
          <div class="our-products__list-inner">
            <h3 class="our-products__list-title">Spicy sauce</h3>
            <p class="our-products__content">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button
              class="our-products__list-btn"
              type="button"
              onclick="openModal()"
            >
              Buy now
            </button>
          </div>
          <picture>
            <source
              srcset="
                ./images/our-products/mobile/sauce@1x.jpg 1x,
                ./images/our-products/mobile/sauce@2x.jpg 2x
              "
              media="(max-width:1022px)"
            />
            <source
              srcset="
                ./images/our-products/tablet/sauce@1x.jpg 1x,
                ./images/our-products/tablet/sauce@2x.jpg 2x
              "
              media="(min-width:1023px)"
            />
            <source
              srcset="
                ./images/our-products/desctop/sauce@1x.jpg 1x,
                ./images/our-products/desctop/sauce@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="our-products__list-img"
              srcset="
                ./images/our-products/mobile/sauce@1x.jpg 1x,
                ./images/our-products/mobile/sauce@2x.jpg 2x
              "
              src="./images/our-products/mobile/sauce@1x.jpg"
              alt="Spicy sauce in a ladle"
            />
          </picture>
        </li>
      </ul>
    </div>
    <!-- кнопки слайдера -->
    <button
      class="our-products__btn-prev our-products__slider-btn"
      onclick="plusSlides(-1)"
    >
      <svg class="our-products__slider-icon" width="16px" height="16px">
        <use href="./images/icons.svg#icon-arrow-up"></use>
      </svg>
    </button>
    <button
      class="our-products__btn-next our-products__slider-btn"
      onclick="plusSlides(1)"
    >
      <svg class="our-products__slider-icon" width="16px" height="16px">
        <use href="./images/icons.svg#icon-arrow-down"></use>
      </svg>
    </button>
  </div>
  <br />
</section>
