// @font-face {
//     font-family: 'Roboto-Normal';
//     src: url('./fonts/Roboto/Roboto-Regular.ttf');
// }
// @font-face {
//     font-family: 'Montserrat-Black';
//     src: url('./fonts/Montserrat/static/Montserrat-Black.ttf');
// }
// @font-face {
//     font-family: 'Montserrat-Bold';
//     src: url('./fonts/Montserrat/static/Montserrat-Bold.ttf');
// }

// @font-face {
//     font-family: 'Montserrat-Normal';
//     src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf');
// }

// @font-face {
//     font-family: 'Inter-Normal';
//     src: url('./fonts/Inter/static/Inter-Regular.ttf');
// }
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('./fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url('./fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}