@font-face {
    font-family: 'Roboto-Normal';
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('./fonts/Montserrat/static/Montserrat-Black.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Normal';
    src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Normal';
    src: url('./fonts/Inter/static/Inter-Regular.ttf');
}